<div class "page-width-desktop">
     <div class="bg-red-500 p-60 text-white">
            Hello World
    </div>
</div>

{% schema %}
{
 "name":"Image Carousel",
 "tag":"section",
  "settings": [
     {
    "type":"text",
    "id":"title",
    "label":"Title"
  }
  ],
  "presets": [
    {
      "name": "Image Carousel"
    }
  ]
}
{% endschema %}
